// Styling for cover page of presentation with image / qrcode

.cover-image .reveal {
    .slides {
        $bg-height: 100%;
        $left-margin: 0%;
        $top-margin: 0%;
        $width: 100%;
        $y-offset: 0;
        margin: 0;

        > section {
            width: 100%;
            height: 100%;
        }

        background:
            url(../images/SUSE/title-image-dot-line.png)
               0% 40%
             / 100% 50%
               no-repeat,
            url(../images/SUSE/SUSE-logo.svg)
               100% 100%              //  x/y positions
             / 15% 15%              //  x/y sizes
                no-repeat,
            url(../images/SUSE/dots-small.svg)
               5% 110%
             / 40% 30%
               no-repeat,
            url(../images/SUSE/dots-small.svg)
               75% 110%
             / 40% 30%
               no-repeat,
            $pine;

        position: relative;

        .date-location {
            color: $salmon;
            font-size: 1.5rem;
            position: absolute;
            top: 10%;
            left: 50%;
        }

        .title {
            position: absolute;
            top: 20%;
            left: 50%;

            h1, h2, h3, h4, h5, h6 {
                color: white;
            }

            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 3rem;
            }

            h3 {
                font-size: 2rem;
            }

            a {
                color: $dark-purple !important;
            }
        }

        .image {
            position: absolute;
            background: white;
            border-radius: 5%;
            width: 40%;
            height: 80%;
            left: 0%;
            top: 5%;

            .qrcode {
                position: relative;
                left: 5%;
                width: 85%;
            }

            h2 {
                font-size: 90%;
                text-align: center;
                margin-top: 0%;
                a {
                    color: black !important;
                }
            }
        }

        text-align: inherit;

        h2, h3, h4, h5, h6 {
            font-weight: normal;
        }

        .qr-embedded {
            position: absolute;
            top: -2%;
            right: 7%;
            width: 30%;
            height: 30%;

            .qrcode {
                position: relative;
                left: 30%;
            }

            h2 {
                font-size: 90%;
                text-align: right;
                margin-top: 0%;
                margin-right: 14%;
                a {
                    color: white !important;
                }
            }
        }
    }

    h1, h2, h3 {
        margin-bottom: 0em;
    }

    @include no-slide-numbers;
}

