// Styling for the divider with image slides

.divider-image .reveal {
    .slides {
        background:
            url(../images/SUSE/SUSE.png)
               95% 95%              //  x/y positions
             / 5% 3%              //  x/y sizes
                no-repeat,
            url(../images/SUSE/separator1-dot-line.png)
               0% 40%
             / 100% 65%
               no-repeat,
            linear-gradient(180deg, $jungle 90%, white 10%);

        img {
            width: 60%;
            height: 85%;
            position: relative;
            border-radius: 5%;
            display: block;
            left: 40%;
        } 

        h1 {
            text-align: left;
            margin-bottom: 0.8em;
            color: $pine;
            font-size: 5rem;
            font-weight: normal;
            float: left;
            width: 38%;
            top: 40%;
            position: absolute;
        }
    }

    @include slide-numbers;
}
