// Styling for the divider without image slides

.divider .reveal {
    .slides {
        background:
            url(../images/SUSE/SUSE.png)
               95% 95%              //  x/y positions
             / 5% 3%              //  x/y sizes
                no-repeat,
            url(../images/SUSE/separator2-dot-line.png)
               0% 130px
             / 95% 95%
               no-repeat,
            url(../images/SUSE/dots-big.png)
               95% 5%
             / 40% 30%
               no-repeat,
            linear-gradient(180deg, $jungle 90%, white 10%);

        h1 {
            text-align: left;
            margin-bottom: 0.8em;
            color: $pine;
            font-size: 5rem;
            font-weight: normal;
            float: left;
            width: 38%;
            top: 40%;
            position: absolute;
        }
    }

    @include slide-numbers;
}

