/// primary colors
$pine:                rgb( 12,  50,  44);
$jungle:              rgb( 48, 186, 120);
$fog:                 rgb(242, 242, 242);
$coral:               rgb(255, 106,  82);

/// Secondary colors
$sea-foam:            rgb(122, 212, 170);
$salmon:              rgb(255, 142, 119);

/// Tertiary colors
$sea-foam-60:         lighten($sea-foam, 60%);
$sea-foam-20:         lighten($sea-foam, 20%);

$fog-200:             #E6E6E6;
$fog-300:             #D7D7D7;

/// Old colors
$SUSE-green:          rgb(  2, 211,  95);

$dark-neutral:        rgb(  0,   0,   0);
$medium-dark-neutral: rgb( 95,  95,  95);
$medium-neutral:      rgb(167, 169, 172);
$light-neutral:       rgb(220, 221, 222);
$tint-neutral:        rgb(237, 237, 237);

$bright-blue:         rgb(  0, 178, 226);
$dark-blue:           rgb( 13,  44,  64);
$bright-royal:        rgb(  0,   7, 176);
$light-blue:          rgb(112, 214, 224);

$bright-green:        rgb(160, 255,  95);
$medium-green:        rgb(  0, 192,  29);

$dark-orange:         rgb(237, 105,  36);
$medium-orange:       rgb(253, 154,  43);
$light-yellow:        rgb(255, 239, 141);

$bright-teal:         rgb(  2, 164, 156);

$bright-magenta:      rgb(222,   0, 128);
$light-magenta:       rgb(247, 163, 213);
$dark-purple:         rgb( 20,  25, 105);
$bright-purple:       rgb(132,  23, 129);
