// Styling for thanks page 

.thanks .reveal {
    .slides {
        $bg-height: 100%;
        $left-margin: 0%;
        $top-margin: 0%;
        $width: 100%;
        $y-offset: 0;
        margin: 0;

        > section {
            width: 100%;
            height: 100%;
        }

        background:
            url(../images/SUSE/thanks-dot-line.png)
               0% 20%
             / 100% 70%
               no-repeat,
            url(../images/SUSE/SUSE-logo.svg)
               0% 98%              //  x/y positions
             / 15% 15%              //  x/y sizes
                no-repeat,
            url(../images/SUSE/dots-small.svg)
               98% 110%
             / 40% 30%
               no-repeat,
            $pine;

        position: relative;

        h1 {
            position: absolute;
            top: 22%;
            left: 45%;

            color: white;
            font-size: 4rem;
            font-weight: normal;
            
            margin-bottom: 0em;

            a {
                color: $dark-purple !important;
            }
        }

        text-align: inherit;
    }

    @include no-slide-numbers;
}

