// Styling for agenda slides

.toc .reveal {
    .slides {
        section {
            counter-reset: toc-counter;
            ol {
                list-style: none;
                padding-left: 1.5em;

                li {
                    counter-increment: toc-counter;
                    color: $jungle;
                    font-size: 3rem;
                    margin: 0;

                    &:before {
                        content: counter(toc-counter, decimal-leading-zero);
                        position: absolute;
                        left: 0;
                    }

                    blockquote {
                        color: $pine;
                        font-size: 2rem;
                        box-shadow: none;
                        background: none;
                        margin: 0;
                        width: 100%;
                        padding: 0;
                        font-style: normal;
                    }
                }
            }

            .col1 {
                width: 45%;
            }
            .col2 {
                width: 45%;
                position: absolute;
                left: 48%;
                top: 20%;

                li {
                    &:before {
                        left: -0.5em;
                    }
                }
            }
        }
    }
}

