@charset "UTF-8";
@font-face {
  font-family: "Special Elite";
  font-style: normal;
  font-weight: 400;
  src: local("Special Elite"), local("SpecialElite-Regular"), url(../fonts/Special-Elite.ttf) format("truetype");
}
.bg-bright-red {
  background-color: #ed1c24 !important;
}

.fg-bright-red {
  color: #ed1c24 !important;
}

.reveal {
  font-size: 2rem;
  /* Blow iframe up to full screen size */
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal div, .reveal span {
  font-family: "Arial", sans-serif;
}
.reveal .slides {
  box-shadow: 2px 2px 20px;
  border: none 2px magenta;
}
.reveal .slides > section {
  border: none 2px red;
  /* Margin percentages (e.g. 5%) are treated as being relative to the
     containing element's *width*, even the top and bottom margins. */
  margin: 2.8125% 5%;
  width: 90%;
  height: 90%;
  padding: 0;
}
.reveal .slides > section section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.reveal .slides > section img {
  /* Disable background 4px border around images */
  border: none;
  background: none;
  box-shadow: none;
}
.reveal .slides > section .full-screen {
  width: 1550px;
  height: 871.875px;
  margin-left: -55px;
  margin-top: -30.9375px;
  max-width: 1000%;
  max-height: 1000%;
}
.reveal .slides > section .full-screen a {
  position: inherit;
}
.reveal .slides > section .full-screen img, .reveal .slides > section .full-screen iframe {
  margin: 0 0 0 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.reveal .slides .vcenter {
  display: flex;
  align-items: center;
}
.reveal .slides h1 {
  font-size: 3.6rem;
  font-weight: bold;
  margin-top: 1rem;
}
.reveal .slides h2 {
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.2rem;
}
.reveal .slides ul + h3, .reveal .slides ul + p {
  margin-top: 0.8em;
}
.reveal .slides li + li {
  margin-top: 0.4em;
}
.reveal .slides h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #30ba78;
  margin-top: 0.2rem;
  margin-bottom: 1.5rem;
}
.reveal .slides p {
  margin: 0;
}
.reveal .slides a {
  text-decoration: none;
  color: #00b2e2 !important;
}
.reveal .slides a:hover {
  color: #0007b0 !important;
}
.reveal .slides .progress span {
  background-color: black;
}
.reveal .slides sup, .reveal .slides sub {
  font-size: 40%;
}
.reveal .slides sup {
  vertical-align: top;
  position: relative;
  top: 0.3em;
}
.reveal .slides sub {
  vertical-align: baseline;
}
.reveal .slides pre {
  font-size: 1.6rem;
}
.reveal .slides tt, .reveal .slides code, .reveal .slides code * {
  font-family: "Courier New", monospace !important;
  font-weight: bold;
  background-color: transparent;
}
.reveal .slides tt, .reveal .slides code {
  color: #5f5f5f;
  text-shadow: none;
  text-transform: none;
}
.reveal .slides pre {
  box-shadow: none;
  padding: 13px 13px;
  background-color: #ededed;
}
.reveal .slides pre code {
  font-family: "Source Code Pro", monospace !important;
  font-weight: normal;
  text-shadow: none;
  text-transform: none;
}
.reveal .slides section ul {
  margin-left: 20px;
  margin-top: 0.6em;
  padding-left: 40px;
  border: none 1px yellow;
  list-style-type: none;
}
.reveal .slides section ul li:before {
  content: "•";
  float: left;
  margin-left: -40px;
}
.reveal .slides section ul ul, .reveal .slides section ul ol {
  font-size: 0.8em;
}
.reveal .slides section ul ul li:before, .reveal .slides section ul ol li:before {
  content: "–";
}
.reveal .slides section li {
  border: none 1px blue;
  padding: 0 0;
}
.reveal .slides .internal-use-footer {
  font-size: 1.4rem;
  color: #de0080;
  font-weight: bold;
  position: absolute;
  bottom: 0%;
  width: 100%;
}
.reveal .overlay-help .viewport th, .reveal .overlay-help .viewport td {
  color: #00c01d;
}
.reveal iframe {
  height: 90%;
  width: 100%;
  margin: 2%;
}
.reveal .progress {
  color: #ff8e77;
}
.reveal .controls {
  color: #0c322c;
}
.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: black;
}
.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: black;
}
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: black;
}
.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: black;
}
.reveal .stamp {
  position: absolute;
  color: red !important;
  font-size: 6em !important;
  font-family: "Special Elite" !important;
  transform: rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -20vw;
  margin-top: -10vh;
  text-shadow: none;
}
.reveal .slide-menu .slide-menu-item {
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 2px;
}
.reveal .slide-menu .slide-menu-item-vertical {
  padding-top: 4px;
  padding-bottom: 2px;
}

@media print {
  .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    color: black;
  }
}
.qrcode .reveal .slide-number {
  display: none !important;
}
.qrcode img {
  height: 80% !important;
  width: auto !important;
  background-color: white !important;
  padding: 1em;
}

.qrcode .reveal section .qrcode img, .normal .reveal section .qrcode img {
  margin-left: auto;
  margin-right: auto;
}

.normal .reveal section .qrcode img {
  padding: 0;
}

.cover .reveal .slides {
  margin: 0;
  background: url(../images/SUSE/title-dot-line.png) 0% 20%/100% 70% no-repeat, url(../images/SUSE/SUSE-logo.svg) 100% 100%/15% 15% no-repeat, url(../images/SUSE/dots-small.svg) 70% 110%/40% 30% no-repeat, #0c322c;
  position: relative;
  text-align: inherit;
}
.cover .reveal .slides > section {
  width: 100%;
  height: 100%;
}
.cover .reveal .slides .date-location {
  color: #ff8e77;
  font-size: 1.5rem;
  position: absolute;
  top: 10%;
  left: 20%;
}
.cover .reveal .slides .title {
  position: absolute;
  top: 20%;
  left: 20%;
}
.cover .reveal .slides .title h1, .cover .reveal .slides .title h2, .cover .reveal .slides .title h3, .cover .reveal .slides .title h4, .cover .reveal .slides .title h5, .cover .reveal .slides .title h6 {
  color: white;
}
.cover .reveal .slides .title h1 {
  font-size: 4rem;
}
.cover .reveal .slides .title h2 {
  font-size: 3rem;
}
.cover .reveal .slides .title h3 {
  font-size: 2rem;
}
.cover .reveal .slides .title a {
  color: #141969 !important;
}
.cover .reveal .slides h2, .cover .reveal .slides h3, .cover .reveal .slides h4, .cover .reveal .slides h5, .cover .reveal .slides h6 {
  font-weight: normal;
}
.cover .reveal .slides .qr-embedded {
  position: absolute;
  top: -2%;
  right: 7%;
  width: 30%;
  height: 30%;
}
.cover .reveal .slides .qr-embedded .qrcode {
  position: relative;
  left: 30%;
}
.cover .reveal .slides .qr-embedded h2 {
  font-size: 90%;
  text-align: right;
  margin-top: 0%;
  margin-right: 14%;
}
.cover .reveal .slides .qr-embedded h2 a {
  color: white !important;
}
.cover .reveal h1, .cover .reveal h2, .cover .reveal h3 {
  margin-bottom: 0em;
}
.cover .reveal .slide-number {
  display: none !important;
}

.cover-image .reveal .slides {
  margin: 0;
  background: url(../images/SUSE/title-image-dot-line.png) 0% 40%/100% 50% no-repeat, url(../images/SUSE/SUSE-logo.svg) 100% 100%/15% 15% no-repeat, url(../images/SUSE/dots-small.svg) 5% 110%/40% 30% no-repeat, url(../images/SUSE/dots-small.svg) 75% 110%/40% 30% no-repeat, #0c322c;
  position: relative;
  text-align: inherit;
}
.cover-image .reveal .slides > section {
  width: 100%;
  height: 100%;
}
.cover-image .reveal .slides .date-location {
  color: #ff8e77;
  font-size: 1.5rem;
  position: absolute;
  top: 10%;
  left: 50%;
}
.cover-image .reveal .slides .title {
  position: absolute;
  top: 20%;
  left: 50%;
}
.cover-image .reveal .slides .title h1, .cover-image .reveal .slides .title h2, .cover-image .reveal .slides .title h3, .cover-image .reveal .slides .title h4, .cover-image .reveal .slides .title h5, .cover-image .reveal .slides .title h6 {
  color: white;
}
.cover-image .reveal .slides .title h1 {
  font-size: 4rem;
}
.cover-image .reveal .slides .title h2 {
  font-size: 3rem;
}
.cover-image .reveal .slides .title h3 {
  font-size: 2rem;
}
.cover-image .reveal .slides .title a {
  color: #141969 !important;
}
.cover-image .reveal .slides .image {
  position: absolute;
  background: white;
  border-radius: 5%;
  width: 40%;
  height: 80%;
  left: 0%;
  top: 5%;
}
.cover-image .reveal .slides .image .qrcode {
  position: relative;
  left: 5%;
  width: 85%;
}
.cover-image .reveal .slides .image h2 {
  font-size: 90%;
  text-align: center;
  margin-top: 0%;
}
.cover-image .reveal .slides .image h2 a {
  color: black !important;
}
.cover-image .reveal .slides h2, .cover-image .reveal .slides h3, .cover-image .reveal .slides h4, .cover-image .reveal .slides h5, .cover-image .reveal .slides h6 {
  font-weight: normal;
}
.cover-image .reveal .slides .qr-embedded {
  position: absolute;
  top: -2%;
  right: 7%;
  width: 30%;
  height: 30%;
}
.cover-image .reveal .slides .qr-embedded .qrcode {
  position: relative;
  left: 30%;
}
.cover-image .reveal .slides .qr-embedded h2 {
  font-size: 90%;
  text-align: right;
  margin-top: 0%;
  margin-right: 14%;
}
.cover-image .reveal .slides .qr-embedded h2 a {
  color: white !important;
}
.cover-image .reveal h1, .cover-image .reveal h2, .cover-image .reveal h3 {
  margin-bottom: 0em;
}
.cover-image .reveal .slide-number {
  display: none !important;
}

.dots .reveal .slides {
  background: url(../images/SUSE/SUSE.png) 95% 95%/5% 3% no-repeat, url(../images/SUSE/dots-small-black.svg) 70% 110%/40% 30% no-repeat !important;
}

.normal .reveal .slides {
  background: url(../images/SUSE/SUSE.png) 95% 95%/5% 3% no-repeat;
  text-align: inherit;
  color: #0c322c !important;
}
.normal .reveal .slides .breadcrumbs {
  color: #30ba78;
  text-transform: uppercase;
  font-size: 0.6em;
  position: absolute;
  top: 0;
  left: 0;
}
.normal .reveal .slides > section {
  width: 90%;
}
.normal .reveal .slides h1 {
  margin-bottom: 0.8em;
  color: #0c322c;
}
.normal .reveal .slides h2 {
  margin-bottom: 0.8em;
  font-size: 4rem;
  font-weight: normal;
  color: #0c322c;
}
.normal .reveal .slides .col1 {
  width: 45%;
  float: left;
}
.normal .reveal .slides .col2 {
  width: 45%;
  position: absolute;
  left: 48%;
}
.normal .reveal .slides .col1-small {
  width: 20%;
  float: left;
}
.normal .reveal .slides .col2-large {
  width: 70%;
  position: absolute;
  left: 33%;
}
.normal .reveal .slides .col1-large {
  width: 70%;
  float: left;
}
.normal .reveal .slides .col2-small {
  width: 20%;
  position: absolute;
  left: 70%;
}
.normal .reveal .slides p {
  margin-bottom: 0.4em;
}
.normal .reveal .slides li > p {
  margin-bottom: 0;
}
.normal .reveal .slides img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.normal .reveal .slides img.full-slide {
  width: 80%;
  max-width: 80%;
  max-height: 80%;
}
.normal .reveal .slides strong {
  color: #30ba78;
}
.normal .reveal .slide-number-wrapper > a {
  position: absolute;
  height: 100%;
  width: 100%;
}
.normal .reveal .slide-number-wrapper > a .slide-number {
  position: relative;
  display: inline-block !important;
  left: 5%;
  top: 92%;
  font-size: 5pt;
  border-radius: 20%;
  background-color: white;
  color: #0c322c;
}
.normal .reveal .slide-number-wrapper > a .slide-number span {
  font-size: 3em;
}
.normal .reveal .slide-number-wrapper > a .slide-number .slide-number-b:after {
  content: "";
  border-bottom: thin #30ba78 solid;
  width: 4em;
  position: absolute;
  top: 0;
  left: 3em;
}
.normal .reveal .slide-number-wrapper > a .slide-number:after {
  content: "Copyright © 2020";
  margin-left: 6em;
  font-size: 3em;
  color: #0c322c;
}

.reveal .slides .big-swatch {
  width: 120px;
  height: 120px;
}
.reveal .slides .swatch {
  width: 60px;
  height: 60px;
}
.reveal .slides .swatch, .reveal .slides .big-swatch {
  font-size: 10pt;
  padding: 10px 5 10 15;
  margin: 10px;
  color: white;
  float: left;
}

.blank-slide .reveal .slide-number {
  display: none !important;
}

/*
highlight.js style for syntax highlighting using officially
sanctioned presentation slide-deck colours.
*/
.reveal .slides .hljs {
  display: block;
  overflow-x: auto;
  background: #ededed;
  color: black;
  -webkit-text-size-adjust: none;
}
.reveal .slides .hljs-keyword,
.reveal .slides .hljs-tag,
.reveal .slides .css .hljs-class,
.reveal .slides .css .hljs-id,
.reveal .slides .lisp .hljs-title,
.reveal .slides .nginx .hljs-title,
.reveal .slides .hljs-request,
.reveal .slides .hljs-status,
.reveal .slides .lang-clojure .hljs-attribute {
  color: #00c01d;
}
.reveal .slides .lang-django .hljs-template_tag,
.reveal .slides .lang-django .hljs-variable,
.reveal .slides .lang-django .hljs-filter .hljs-argument {
  color: #00b2e2;
}
.reveal .slides .hljs-number,
.reveal .slides .hljs-date {
  color: #02d35f;
}
.reveal .slides .lang-dos .hljs-envvar,
.reveal .slides .lang-dos .hljs-stream,
.reveal .slides .hljs-variable,
.reveal .slides .lang-apache .hljs-sqbracket,
.reveal .slides .hljs-name {
  color: #00b2e2;
}
.reveal .slides .lang-dos .hljs-flow,
.reveal .slides .diff .hljs-change,
.reveal .slides .python .exception,
.reveal .slides .python .hljs-built_in,
.reveal .slides .hljs-literal,
.reveal .slides .tex .hljs-special {
  color: #ed6924;
}
.reveal .slides .diff .hljs-chunk,
.reveal .slides .hljs-subst {
  color: #a7a9ac;
}
.reveal .slides .lang-dos .hljs-keyword,
.reveal .slides .hljs-decorator,
.reveal .slides .hljs-title,
.reveal .slides .hljs-type,
.reveal .slides .diff .hljs-header,
.reveal .slides .lang-ruby .hljs-class .hljs-parent,
.reveal .slides .lang-apache .hljs-tag,
.reveal .slides .nginx .hljs-built_in,
.reveal .slides .tex .hljs-command,
.reveal .slides .hljs-prompt {
  color: #fd9a2b;
  font-weight: bold !important;
}
.reveal .slides .lang-dos .hljs-winutils,
.reveal .slides .lang-ruby .hljs-symbol,
.reveal .slides .lang-ruby .hljs-symbol .hljs-string,
.reveal .slides .lang-ruby .hljs-string {
  color: #de0080;
}
.reveal .slides .diff .hljs-deletion,
.reveal .slides .hljs-string,
.reveal .slides .hljs-tag .hljs-value,
.reveal .slides .hljs-preprocessor,
.reveal .slides .hljs-pragma,
.reveal .slides .hljs-built_in,
.reveal .slides .lang-smalltalk .hljs-class,
.reveal .slides .lang-smalltalk .hljs-localvars,
.reveal .slides .lang-smalltalk .hljs-array,
.reveal .slides .css .hljs-rule .hljs-value,
.reveal .slides .hljs-attr_selector,
.reveal .slides .hljs-pseudo,
.reveal .slides .lang-apache .hljs-cbracket,
.reveal .slides .tex .hljs-formula,
.reveal .slides .lang-coffeescript .hljs-attribute {
  color: #02a49c;
}
.reveal .slides .hljs-shebang,
.reveal .slides .diff .hljs-addition,
.reveal .slides .hljs-comment,
.reveal .slides .hljs-annotation,
.reveal .slides .hljs-pi,
.reveal .slides .hljs-doctype {
  color: #a7a9ac;
}
.reveal .slides .lang-coffeescript .javascript,
.reveal .slides .javascript .xml,
.reveal .slides .tex .hljs-formula,
.reveal .slides .xml .javascript,
.reveal .slides .xml .vbscript,
.reveal .slides .xml .css,
.reveal .slides .xml .hljs-cdata {
  opacity: 0.5;
}
.reveal .slides .hljs-constant {
  color: #02a49c;
}

.reveal .slides #editorial-guidelines > ul {
  font-size: 70%;
}
.reveal .slides #trademarking-guidelines > ul {
  font-size: 80%;
}
.reveal .slides .contact-info {
  position: absolute;
  top: 80%;
  font-size: 18pt;
}
.reveal .slides .contact-info address {
  float: left;
  padding: 0 30px;
  margin: 0 30px;
  height: 110px;
  border-left: solid 1px grey;
}
.reveal .slides #color-palette .content-boundary {
  border: 2px dotted #a7a9ac;
  height: 80%;
}
.reveal .slides #color-palette .palette-text {
  position: absolute;
  margin-top: 20px;
  width: 49%;
  height: 100%;
  left: 50%;
  font-size: 0.8em;
}
.reveal .slides #color-palette .palette-text ul {
  display: block;
}
.reveal .slides #color-palette .palette-text ul li {
  font-size: 0.7em;
}
.reveal .slides #color-palette .palette-text hr {
  width: 98%;
  margin-left: 0;
  height: 2px;
  background-color: #a7a9ac;
}
.reveal .slides #color-palette .palette-text h3 {
  font-size: 1.3em;
  color: #00c01d;
}
.reveal .slides #graphics-and-typeface .slide-section {
  position: relative;
  border-top: 2px solid #a7a9ac;
}
.reveal .slides #graphics-and-typeface .slide-section h3 {
  color: #a7a9ac;
  font-size: 0.8em;
}
.reveal .slides #graphics-and-typeface .slide-section .icons-typeface {
  position: absolute;
  left: 40%;
  top: 10%;
  font-size: 0.8em;
}
.reveal .slides #graphics-and-typeface .slide-section img:first-of-type {
  margin-left: 30px;
}
.reveal .slides .call-to-action {
  position: relative;
  top: 10%;
  height: 80%;
}
.reveal .slides .call-to-action h2 {
  font-size: 3rem;
}
.reveal .slides .call-to-action .inside {
  font-weight: normal;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 70%;
  padding: 5% 10%;
  background-color: #dcddde;
}
.reveal .slides .call-to-action .outside {
  position: absolute;
  top: 80%;
  left: 8%;
}
.reveal .slides #disclaimers {
  height: 80%;
  margin: 10% 10% 0 0;
  text-align: left;
}
.reveal .slides #disclaimers h3 {
  color: white;
  font-size: 1.8rem;
  margin: 2rem 0 0.5 0;
}
.reveal .slides #disclaimers p {
  color: white;
  font-size: 1.2rem;
}

.toc .reveal .slides section {
  counter-reset: toc-counter;
}
.toc .reveal .slides section ol {
  list-style: none;
  padding-left: 1.5em;
}
.toc .reveal .slides section ol li {
  counter-increment: toc-counter;
  color: #30ba78;
  font-size: 3rem;
  margin: 0;
}
.toc .reveal .slides section ol li:before {
  content: counter(toc-counter, decimal-leading-zero);
  position: absolute;
  left: 0;
}
.toc .reveal .slides section ol li blockquote {
  color: #0c322c;
  font-size: 2rem;
  box-shadow: none;
  background: none;
  margin: 0;
  width: 100%;
  padding: 0;
  font-style: normal;
}
.toc .reveal .slides section .col1 {
  width: 45%;
}
.toc .reveal .slides section .col2 {
  width: 45%;
  position: absolute;
  left: 48%;
  top: 20%;
}
.toc .reveal .slides section .col2 li:before {
  left: -0.5em;
}

.contact .reveal .slides {
  background: url(../images/SUSE/SUSE.png) 95% 95%/5% 3% no-repeat, url(../images/SUSE/contact-dot-line.png) 0% 100%/88% 30% no-repeat;
}
.contact .reveal .slides .contacts {
  display: flex;
  flex-flow: row;
  justify-content: left;
  align-items: top;
  height: 88%;
  width: 92%;
}
.contact .reveal .slides .contact {
  width: 22%;
  flex-basis: 25%;
  float: left;
  height: 60%;
  padding: 0.5em;
  color: #0c322c;
}
.contact .reveal .slides .contact figure {
  height: 85%;
  width: 100%;
  border-radius: 15%;
}
.contact .reveal .slides .contact figure img {
  width: 100%;
  height: 100%;
}
.contact .reveal .slides .contact .name {
  color: #30ba78;
  font-size: 0.8em;
  margin-bottom: 1em;
}
.contact .reveal .slides .contact .job {
  font-size: 0.8em;
}
.contact .reveal .slides .contact .email, .contact .reveal .slides .contact .phone {
  font-size: 0.6em;
}

.divider .reveal .slides {
  background: url(../images/SUSE/SUSE.png) 95% 95%/5% 3% no-repeat, url(../images/SUSE/separator2-dot-line.png) 0% 130px/95% 95% no-repeat, url(../images/SUSE/dots-big.png) 95% 5%/40% 30% no-repeat, linear-gradient(180deg, #30ba78 90%, white 10%);
}
.divider .reveal .slides h1 {
  text-align: left;
  margin-bottom: 0.8em;
  color: #0c322c;
  font-size: 5rem;
  font-weight: normal;
  float: left;
  width: 38%;
  top: 40%;
  position: absolute;
}
.divider .reveal .slide-number-wrapper > a {
  position: absolute;
  height: 100%;
  width: 100%;
}
.divider .reveal .slide-number-wrapper > a .slide-number {
  position: relative;
  display: inline-block !important;
  left: 5%;
  top: 92%;
  font-size: 5pt;
  border-radius: 20%;
  background-color: white;
  color: #0c322c;
}
.divider .reveal .slide-number-wrapper > a .slide-number span {
  font-size: 3em;
}
.divider .reveal .slide-number-wrapper > a .slide-number .slide-number-b:after {
  content: "";
  border-bottom: thin #30ba78 solid;
  width: 4em;
  position: absolute;
  top: 0;
  left: 3em;
}
.divider .reveal .slide-number-wrapper > a .slide-number:after {
  content: "Copyright © 2020";
  margin-left: 6em;
  font-size: 3em;
  color: #0c322c;
}

.divider-image .reveal .slides {
  background: url(../images/SUSE/SUSE.png) 95% 95%/5% 3% no-repeat, url(../images/SUSE/separator1-dot-line.png) 0% 40%/100% 65% no-repeat, linear-gradient(180deg, #30ba78 90%, white 10%);
}
.divider-image .reveal .slides img {
  width: 60%;
  height: 85%;
  position: relative;
  border-radius: 5%;
  display: block;
  left: 40%;
}
.divider-image .reveal .slides h1 {
  text-align: left;
  margin-bottom: 0.8em;
  color: #0c322c;
  font-size: 5rem;
  font-weight: normal;
  float: left;
  width: 38%;
  top: 40%;
  position: absolute;
}
.divider-image .reveal .slide-number-wrapper > a {
  position: absolute;
  height: 100%;
  width: 100%;
}
.divider-image .reveal .slide-number-wrapper > a .slide-number {
  position: relative;
  display: inline-block !important;
  left: 5%;
  top: 92%;
  font-size: 5pt;
  border-radius: 20%;
  background-color: white;
  color: #0c322c;
}
.divider-image .reveal .slide-number-wrapper > a .slide-number span {
  font-size: 3em;
}
.divider-image .reveal .slide-number-wrapper > a .slide-number .slide-number-b:after {
  content: "";
  border-bottom: thin #30ba78 solid;
  width: 4em;
  position: absolute;
  top: 0;
  left: 3em;
}
.divider-image .reveal .slide-number-wrapper > a .slide-number:after {
  content: "Copyright © 2020";
  margin-left: 6em;
  font-size: 3em;
  color: #0c322c;
}

.subchapter .reveal .slides {
  background: url(../images/SUSE/SUSE.png) 95% 95%/5% 3% no-repeat, url(../images/SUSE/dots-big.png) 95% 5%/40% 30% no-repeat, url(../images/SUSE/dots-big.png) 95% 53%/40% 30% no-repeat, linear-gradient(180deg, #ff8e77 90%, white 10%);
}
.subchapter .reveal .slides h1 {
  text-align: left;
  margin-bottom: 0.8em;
  color: #0c322c;
  font-size: 5rem;
  font-weight: normal;
  float: left;
  width: 50%;
  top: 40%;
  position: absolute;
}
.subchapter .reveal .slide-number-wrapper > a {
  position: absolute;
  height: 100%;
  width: 100%;
}
.subchapter .reveal .slide-number-wrapper > a .slide-number {
  position: relative;
  display: inline-block !important;
  left: 5%;
  top: 92%;
  font-size: 5pt;
  border-radius: 20%;
  background-color: white;
  color: #0c322c;
}
.subchapter .reveal .slide-number-wrapper > a .slide-number span {
  font-size: 3em;
}
.subchapter .reveal .slide-number-wrapper > a .slide-number .slide-number-b:after {
  content: "";
  border-bottom: thin #30ba78 solid;
  width: 4em;
  position: absolute;
  top: 0;
  left: 3em;
}
.subchapter .reveal .slide-number-wrapper > a .slide-number:after {
  content: "Copyright © 2020";
  margin-left: 6em;
  font-size: 3em;
  color: #0c322c;
}

.thanks .reveal .slides {
  margin: 0;
  background: url(../images/SUSE/thanks-dot-line.png) 0% 20%/100% 70% no-repeat, url(../images/SUSE/SUSE-logo.svg) 0% 98%/15% 15% no-repeat, url(../images/SUSE/dots-small.svg) 98% 110%/40% 30% no-repeat, #0c322c;
  position: relative;
  text-align: inherit;
}
.thanks .reveal .slides > section {
  width: 100%;
  height: 100%;
}
.thanks .reveal .slides h1 {
  position: absolute;
  top: 22%;
  left: 45%;
  color: white;
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 0em;
}
.thanks .reveal .slides h1 a {
  color: #141969 !important;
}
.thanks .reveal .slide-number {
  display: none !important;
}

/*# sourceMappingURL=reveal-override.css.map */
